@import "../../css/scss/main";

.new-comment {
	width: 100%;
	background-color: white;
	margin-bottom: 5px;
	table-layout: fixed;
	border-radius: 5px;
	border-collapse: collapse;
	border-radius: 3px;
	border-style: hidden; /* hide standard table (collapsed) border */
	box-shadow: 0 0 0 1px #CCC; /* this draws the table border  */ 
	&:last-child {
		margin-bottom: 0;
	}
	td {
		padding-bottom: 0;
		padding: 3px;
		&.avatar-cont {
			width: 75px;
			img {
				border-radius: 5px;
				border: 1px solid #CCC;
			}
		}
		&.meta-cont {
			vertical-align: middle;
		}
		// vertical-align: middle;
		.comment-title {
			font-size: 16px;
			margin: 5px 0 0;
		}
		.comment-subtitle {
			font-size: 12px;
			margin-bottom: 0;
		}
		
	}
}

.notification-link {
	margin: 5px 0 10px;;
}