				<div class="footer">
				  <table>
				    <tr>
				      <td class="align-center">
				        <p>This message was intended for <%= email %></p>
				      </td>
				    </tr>
				  </table>
				</div>

			</div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
