<table class="row header logo-header">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="center">
                    <center>
                    <img src="http://voicethread.com/image/voicethreadtext.png" alt="" style="float: none;">
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
