<table class="row logo-footer">
  <tr><td>
    <table class="container">
      <tr><td class="wrapper last">
        <table class="twelve columns">
          <tr>
            <td align="center">
            <center>
              <div style="width: 25px; height: 25px; margin-bottom: 3px;">
                <img style="width: 25px;" src="http://voicethread.com/image/vt-logo-transparent-matte.png" alt="">              
              </div>
              <div class="text-muted text-small">
                © 2015 VoiceThread, LLC. P.O. Box 970533, Boca Raton, FL 33497-0533
              </div>              
            </center>
            </td>
            <td class="expander"></td>
          </tr>
        </table>

      </td></tr>
    </table> 
  </td></tr>
</table>    
